{% extends "explorer/base.html" %}



{% block title %}
{% endblock %}

{% block content %}
  {% load static %}
  {% load bootstrap3 %}


  <link rel="stylesheet" type="text/css" href="{% static 'css/places_list.css' %}">
  <div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="gallery">

              {% for place in places %}
                  <div class="place">
                    <a class="title" href="{{ place.get_absolute_url }}"> {{ place.name }} </a>
                    <a  href="{{ place.get_absolute_url }}">  <img class="image" src="{% if place.image %}{{ place.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"> </a>
                    <div class="desc" >{{ place.description | truncatechars:300 }} <a href="{{place.get_absolute_url}}">(czytaj dalej)</a> </div>
                    <form action="{% url 'plan:plan_add' place.id %}"  method="post" class="plan_form" >
                    {% csrf_token %}
                    {{ plan_form.start_date.errors }}
                    <p style="float:left">{{ plan_form.end_date.errors }}</p>
                    <p>{{ plan_form.start_date }}</p>
                    <p>{{ plan_form.end_date }}</p>
                    <input class="btn btn-primary btn-lg"  name="plan" type="submit" value="Dodaj miejsce" style="float:right" ></input>
                </form>
                  </div>
              {% endfor %}


            </div>
            <div class="pagination">
                {% include "explorer/pagination.html" %}
            </div>

        </div>

        <div class="col-md-4">

            <form class="filter" method="GET">
                <div class="name">Nazwa</div> {{ filter.form.name }}
                <div class="name">Miasto</div> {{ filter.form.address__city }}
                <div class="name">Koszt mniejszy niż</div> {{ filter.form.cost__lt }}
                <div class="name">Koszt większy niż</div> {{ filter.form.cost__gt }}
                <div class="name">Kategoria</div> {{ filter.form.category}}
                <br/><br/>
                <button  type="submit" class="btn btn-primary" >Filtruj</button>
            </form>


        </div>
    </div>
  </div>



{% endblock %}